<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="К" value="K"/>
		<add key="Л" value="L"/>
		<add key="М" value="M"/>
		<add key="Н" value="N"/>
	</appSettings>
</configuration>